* {
    margin: 0;
    padding: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input,textarea {
	-webkit-touch-callout: auto;
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
}

@font-face {
    font-family: "lemonaid";
    src: url("./fonts/lemonaid.otf") format("opentype");   
    }

body {
	-webkit-overflow-scrolling: touch; 			/* assist with native scrolling */
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: text;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 0px;
	margin: 0px;
	background-color: white;
    font-family:'lemonaid';
    font-size:20px;
    margin:0px;
    padding:0px;
    background:url(../img/background.png);
	background-size: 100% 100%;
        background-attachment:fixed;
	background-repeat: no-repeat;
}

h1 {
    font-size:28px;
    font-weight:normal;
    padding:0px;
    text-transform:uppercase;
}

h2 {
    font-size:24px;
    font-weight:normal;
    padding:0px;
    text-transform:uppercase;
}

.centeredText {
    font-size:28px;
    font-weight:normal;
    padding:0px;
	display: block;
	width: 75%;
	margin: auto auto;
}

.centeredImage {
    padding:0px;
	display: block;
	margin: auto auto;
}

.oopsImage {
    padding:0px;
	display: block;
	float: left;
}

.logo {
	display: block;
	max-width: 80px;
	width: 100%;
	margin: auto auto;
	z-index: +2;
}

.header {    
    background:url(../img/banner.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		width: 100%;
		height: 80px;
	z-index: +1;
}

.wrapper {
    width: 100%;
	height: 100%;
    left: 0px;
	top: 0px;
    float: right;
	margin: 0px;
	max-width: 100%;
	overflow: scroll;
	padding: 1px;
	display:none;
}

.scroller{
    height:4000px;
    width:100%;
	bottom: 5px;
	overflow: scroll;
	padding: 1px;
	display:none; 
	
}

.sidebar {
	background-color: white;
    width: 18%;
    left: 0;
    top: 0px;
	bottom: 0px;
    float: left;
	z-index: +2;
	overflow: hidden;
}

.menuLink {
    font-size:20px;
    font-weight:normal;
    color: #000000;
    margin:1px;
    padding:0px;
    text-align:center;
    text-decoration: none;
    background-size: 100% 100%;
    height: 26px;
    width: 100%;
    float: left;
}

#homebuttons {
	display: block;
	width: 80%;
	margin: auto auto;
	z-index: +2;
	border: 5;
}

th,td
{
padding:9px;
}

.buttonLink {
    font-size:20px;
    font-weight:normal;
    text-align:center;
    text-decoration: none;
    background-size: 100% 100%;
    height: 100px;
    width: 100%;
    float: left;
}

.slidingview_sidebar {
	position: absolute;
    width: 18%;
    left: 0;
    top: 0px;
	bottom: 0px;
    float: left;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.slidingview_body {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 80%;
	height: 100%;
	float: right;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.slidingview_wrapper {
    width: 100%;
	height: 100%;
    left: 0px;
	top: 0px;
    float: right;
	margin: 0px;
	max-width: 100%;
	overflow: scroll;
}
